body
{
	background: #333; /* Цвет всей страницы */
	cursor: pointer;
}

/*#gameName
{
	color: #fff;
	font-family: Courier;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	<div id="gameName">Hello, Gifo!</div>
}*/

canvas
{
	display: block;
	
	margin: 0px 0px; /* Отступ полотна 30 - сверху, и авто (0) - сбоку */
}

#player,#enemy,#text
{
	display: block;
	margin: -600px 0px; /* Отступ полотна 30 - сверху, и авто (0) - сбоку */
}
